@using RepoCat.Portal.Areas.Catalog.Views.Components
@model RepoCat.Portal.Areas.Catalog.Views.Components.RepositoriesListViewModel
@foreach (OrganizationRepositoryGroup group in @Model.Repositories)
{
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="nav-icon fab fa fa-sitemap"></i> @group.OrganizationName</a>
        <ul class="nav-dropdown-items">
            @foreach (string name in group.Repositories)
            {
                <li class="nav-item">
                    <a class="nav-link "data-toggle="tooltip" title="@name" style="padding-left: 25px !important;" asp-area="Catalog" asp-controller="Repository" asp-action="Index" asp-route-organizationName="@group.OrganizationName" asp-route-repositoryName="@name">
                        <div class="d-inline-block text-truncate" style="max-width: 165px;"><i class="nav-icon fab fa-codepen"></i> @name</div>
                    </a>
                </li>
            }
        </ul>
    </li>
}