@using RepoCat.Portal.Areas.Catalog.Models
@model RepoCat.Portal.Areas.Catalog.Models.BrowseRepositoryViewModel

@{
    ViewData["Title"] = "Repository overview";
}

@if (!@Model.ProjectManifestViewModels.Any())
{

    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="text-center">

                <h2 class="text-dark">Sorry, nothing to show in '@Model.RepositoryName'</h2>
                <img src="~/images/cats/cat_hungry256.png" class="mx-auto d-block" alt="No results">
                <br />
                <span class="text-dark">The repository looks empty</span>
            </div>
        </div>
    </div>
}
else
{
    <h2>
        @Model.RepositoryName - Repository overview
    </h2>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="icon-people"></i>
                    </div>
                    <div class="text-value">@Model.NumberOfProjects</div>
                    <small class="text-muted text-uppercase font-weight-bold">Projects</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="icon-user-follow"></i>
                    </div>
                    <div class="text-value">@Model.NumberOfComponents</div>
                    <small class="text-muted text-uppercase font-weight-bold">Components</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="icon-basket-loaded"></i>
                    </div>
                    <div class="text-value">@Model.NumberOfTags</div>
                    <small class="text-muted text-uppercase font-weight-bold">Tags</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="icon-calendar"></i>
                    </div>
                    <div class="text-value">@Model.ImportedDate</div>
                    <small class="text-muted text-uppercase font-weight-bold">Imported date</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="icon-speedometer"></i>
                    </div>
                    <div class="text-value">@Model.ImportDuration</div>
                    <small class="text-muted text-uppercase font-weight-bold">Import duration</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="fa fa-stamp"></i>
                    </div>
                    <div class="text-value">@Model.RepositoryStamp</div>
                    <small class="text-muted text-uppercase font-weight-bold">Repository stamp</small>
                </div>
            </div>
        </div>

    </div>


    <h2 style="display: inline;">
        Projects list
    </h2>
    <a class="badge badge-light collapseAllToggle open" href="#">Collapse all</a>
    <div class="row">
        @foreach (ProjectInfoViewModel manifest in @Model.ProjectManifestViewModels)
        {
            <partial name="_ProjectViewPartial" for="@manifest" />
        }
    </div>

}