@model RepoCat.Portal.Areas.Catalog.Models.ColumnBadgeViewModel
<span class="badge badge-property-name @Model.AdditionalClass" style="cursor: pointer" data-property="@Model.ColumnName" data-toggle="tooltip"
      title="Click to add or remove '@Model.ColumnName' column">
    <i class="icons icon-plus add-remove-icon"></i>@Html.Raw("&nbsp;")
    <i class="fas fa-columns"></i>&nbsp;
    <span>@Model.ColumnName</span>
</span>