@using RepoCat.Portal.Areas.Catalog.Models;
@model RepoCat.Portal.Areas.Catalog.Models.InteractiveStringModel
@{
    var type = Model.GetDataType();
    string imageTag = "";
    if (!string.IsNullOrEmpty(Model.ImageClassName))
    {
        imageTag = " <i class=\"" + Model.ImageClassName + "\"></i> ";
    }
    switch (type)
    {
        case InteractiveStringModel.DataType.Text:
            @Model.Text
            break;
        case InteractiveStringModel.DataType.Url:
            <a href="@Model.Text" target="_blank" class="@Model.ClassName">@Html.Raw(@imageTag) @Model.Text</a>
            break;
        case InteractiveStringModel.DataType.Path:
            <a href="@Url.Action("Download", "Download", new { id = Model.ProjectId, componentName = Model.ComponentName, Model.PropertyKey })">@Html.Raw(@imageTag) @Model.Text</a>
            break;
        case InteractiveStringModel.DataType.Email:
            <a target="_blank" href="mailto:@(Model.Text)" class="@Model.ClassName">@Html.Raw(@imageTag) @Model.Text</a>
            break;
        default:
            break;
    }

}
