@using RepoCat.Portal.Areas.Catalog.Models
@model ManifestQueryResultViewModel
<input type="hidden" id="RepositoryQueryParameters" value="@(string.Join(",", Model.RepositoryQueryParameters.Select(x=>$"{x.OrganizationName}:{x.RepositoryName}")))" />
@if (Model.ProjectsTable.Projects.Count > 0)
{
    <div class="row mb-1">
        <div class="col-md-12">
            <div id="searchResultsCard">
                <div class="mb-1">
                    <h2 style="display: inline;">
                        Search result
                    </h2>
                    <a class="badge badge-light collapseAllToggle open" href="#" onclick="collapseAllToggle(this)">Collapse all</a>
                </div>

                <div>
                    <partial name="_SearchedRepositoriesListPartial" model="@Model.RepositoryQueryParameters" />
                </div>
                <div>

                    <span>Found <strong>@Model.ProjectsTable.Projects.Count</strong> matches</span>

                    <span>
                        @if (Model.IsRegex)
                        {
                            <span>for RegEx: </span>
                            <span class="regex">@Model.QueryString</span>
                        }
                        else
                        {
                            @if (@Model.SearchTokens.Any())
                            {
                                <span>for </span>
                                @foreach (var token in Model.SearchTokens)
                                {
                                    <partial name="_BadgeTag" model="@(new TagBadgeViewModel(Model.RepositoryQueryParameters, token))" />

                                }
                            }
                        }
                    </span>

                    <span>in <strong>@(Model.Elapsed.TotalMilliseconds.ToString("N2"))ms</strong></span>
                </div>
            </div>
        </div>
    </div>

    <partial name="_ProjectsTablePartial" model="@Model.ProjectsTable" />

}
else
{
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="text-center">

                <h2 class="text-dark">Nothing found</h2>
                <span class="text-dark">
                    Spent <strong>@(Model.Elapsed.TotalMilliseconds.ToString("N2"))ms</strong> searching
                    <span>
                        @if (Model.IsRegex)
                        {
                            <span>for RegEx: </span>
                            <span class="regex">@Model.QueryString</span>
                        }
                        else
                        {
                            @if (@Model.SearchTokens.Any())
                            {
                                <span>for </span>
                                @foreach (var token in Model.SearchTokens)
                                {
                                    <partial name="_BadgeTag" model="@(new TagBadgeViewModel(Model.RepositoryQueryParameters, token))" />
                                }
                            }
                        }
                    </span>
                    in
                    <partial name="_SearchedRepositoriesListPartial" model="@Model.RepositoryQueryParameters" />
                    and found nothing...
                </span>
                <img src="~/images/cats/cat_hungry256.png" class="mx-auto d-block" alt="No results">
                <br />
                <span class="text-dark">Maybe try different search criteria?</span>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    docReady(function () {
        intializeSelect2();
    });
</script>