@using RepoCat.Portal.Areas.Catalog.Models
@model ManifestQueryResultViewModel

@if (Model.Projects.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div id="searchResultsCard">
                <h2 style="display: inline;">
                    Search result
                </h2>
                <a class="badge badge-light collapseAllToggle open" href="#">Collapse all</a>
                <p>
                    <span><strong>@Model.RepositoryName</strong> - Found <strong>@Model.Projects.Count</strong> matches</span>
                    <span>
                        @if (Model.IsRegex)
                        {
                            <span>for RegEx: </span>
                            <span class="regex">@Model.QueryString</span>
                        }
                        else
                        {
                            @if (@Model.SearchTokens.Any())
                            {
                                <span>for </span>
                                @foreach (var token in Model.SearchTokens)
                                {
                                    <partial name="_TagBadgePartial" model="@(new TagBadgeViewModel(Model.OrganizationName, @Model.RepositoryName, token))" />

                                }
                            }
                        }
                    </span>

                    <span>in <strong>@(Model.Elapsed.TotalMilliseconds.ToString("N2"))ms</strong></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (ProjectInfoViewModel manifest in Model.Projects)
        {
            <partial name="_ProjectViewPartial" for="@manifest" />
        }
    </div>

}
else
{
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="text-center">

                <h2 class="text-dark">Nothing found</h2>
                <span class="text-dark">
                    Spent <strong>@(Model.Elapsed.TotalMilliseconds.ToString("N2"))ms</strong> searching
                    <span>
                        @if (Model.IsRegex)
                        {
                            <span>for RegEx: </span>
                            <span class="regex">@Model.QueryString</span>
                        }
                        else
                        {
                            @if (@Model.SearchTokens.Any())
                            {
                                <span>for </span>
                                @foreach (var token in Model.SearchTokens)
                                {
                                    <partial name="_TagBadgePartial" model="@(new TagBadgeViewModel(Model.OrganizationName, @Model.RepositoryName, token))" />

                                }
                            }
                        }
                    </span>
                    in <strong>@Model.RepositoryName</strong> and found nothing...
                </span>
                <img src="~/images/cats/cat_hungry256.png" class="mx-auto d-block" alt="No results">
                <br />
                <span class="text-dark">Maybe try different search criteria?</span>
            </div>
        </div>
    </div>
}
